<section class="bike-register">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="mat-h2">Erstelle neuen Account</h2>
    <div class="picture-box">
      <bike-picture-bicycle color="#c1c1c1"></bike-picture-bicycle>
    </div>
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput class="form-control" formControlName="name">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>E-Mail</mat-label>
      <input matInput class="form-control" formControlName="email">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Passwort</mat-label>
      <input type="password" matInput class="form-control" formControlName="password">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Wiederholung</mat-label>
      <input type="password" matInput class="form-control" formControlName="repeat">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Einladungscode</mat-label>
      <input matInput class="form-control" formControlName="accessCode">
    </mat-form-field>
    <div class="form-field">
      <mat-checkbox formControlName="term" color="primary">
        Bedingungen und Konditionen
      </mat-checkbox>
    </div>
    <div class="command-bar">
      <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">
        Registrieren
      </button>
    </div>
  </form>
</section>
